@import "susy";

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 1em; //$gutter-width;

$break          : 12;

.mainContainer {
  @include border-box-sizing;
  @include container($total-columns, $break);
//  @include susy-grid-background;
  .content {
    @include span-columns(5);
    @include pre(1);
  }
  .content2 {
    @include span-columns(1 omega,7);
  }
}
@include at-breakpoint($break) {
  .main {
    //@include susy-grid-background;
  }
}


