/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/


.wideimg {
  width: 100%;
  height: 100%;
}


.mainContainer {
  width: 100%;
  background: black;
  color: #DDDDDD;
}

.headings {
  text-align: center;
  background: lilac;
}

.content {
  color: #DDDDDD;
}
