.containerdiv
  %h1.headings Murfreesbro for President!
  %h2.headings Yes, he is a unicorn.
  %img.wideimg(src="images/Malbork_Unicorn.JPG")
    .content
      %p In the 2016 presidential elections for the United States of America, there is only one candidate that deserves your vote: Murfreesbro the unicorn.
